SQL and object relationship mapping
========

While it is important to understand how relational databases work and how SQL queries are structured, most database usage is done indirectlyâ€”for example, in a script that puts the data in a particular for on a web page. Today we are going to run through the same data queries as last week, only now we are going to use Python. It's going to look like magic, but at the end of the class we will look briefly at how it is really only sufficiently advanced technology.

First we will need to install the connector between mysql and Python, and put a new library in place that I have written for you. Here is how to do that:

- Copy `hollywoodlib.zip` to your Downloads folder and unzip it
- Open Git Bash and run the following commands:

        conda install mysql-connector-python
        which python # gives you something like /c/Anaconda3/python or /Users/tla/anaconda/bin/python
    
**Pay attention to what the `which` command gives you!**

IF YOU ARE ON WINDOWS: chop off `python` from that path and add `Lib`.

        mv ~/Downloads/dhbern /c/Anaconda3/Lib
        
IF YOU ARE ON MAC: chop off `bin/python` from that path and add `lib/python3.5`.

        mv ~/Downloads/dhbern /Users/tla/anaconda/lib/python3.5
    
Now you are ready to start a notebook! We'll be using a Python library called `sqlalchemy` for this, so first we should import it and set it up. You don't have to understand this; just make sure that you put your MySQL password where I have said `YOURPASSWORDGOESHERE` below.

In [1]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

engine = create_engine('mysql+mysqlconnector://root:YOURPASSWORDGOESHERE@localhost/hollywood')
smaker = sessionmaker(bind=engine)
session = smaker()

Once that's done, we can start to use the hollywood library I made.

In [2]:
from dhbern.hollywood import Person, Movie, Role, Review

You use SQLAlchemy by asking (that is, querying) the `session` for the information you want. So, for example, if you want to see all the people:

In [3]:
for person in session.query(Person):
    print(person.name, person.born)

Keanu Reeves 1964-09-02
Carrie-Anne Moss 1967-01-01
Laurence Fishburne 1961-01-01
Hugo Weaving 1960-01-01
Andy Wachowski 1967-01-01
Lana Wachowski 1965-01-01
Joel Silver 1952-01-01
Emil Eifrem 1978-01-01
Charlize Theron 1975-01-01
Al Pacino 1940-01-01
Taylor Hackford 1944-01-01
Tom Cruise 1962-01-01
Jack Nicholson 1937-01-01
Demi Moore 1962-01-01
Kevin Bacon 1958-01-01
Kiefer Sutherland 1966-01-01
Noah Wyle 1971-01-01
Cuba Gooding Jr. 1968-01-01
Kevin Pollak 1957-01-01
J.T. Walsh 1943-01-01
James Marshall 1967-01-01
Christopher Guest 1948-01-01
Rob Reiner 1947-01-01
Aaron Sorkin 1961-01-01
Kelly McGillis 1957-01-01
Val Kilmer 1959-01-01
Anthony Edwards 1962-01-01
Tom Skerritt 1933-01-01
Meg Ryan 1961-01-01
Tony Scott 1944-01-01
Jim Cash 1941-01-01
Renee Zellweger 1969-01-01
Kelly Preston 1962-01-01
Jerry O'Connell 1974-01-01
Jay Mohr 1970-01-01
Bonnie Hunt 1961-01-01
Regina King 1971-01-01
Jonathan Lipnicki 1990-01-01
Cameron Crowe 1957-01-01
River Phoenix 1970-01-01
Corey Feldman 1971-01-01
Wil Wheaton 1972-01-01
John Cusack 1966-01-01
Marshall Bell 1942-01-01
Helen Hunt 1963-01-01
Greg Kinnear 1963-01-01
James L. Brooks 1940-01-01
Annabella Sciorra 1960-01-01
Max von Sydow 1929-01-01
Werner Herzog 1942-01-01
Robin Williams 1951-01-01
Vincent Ward 1956-01-01
Ethan Hawke 1970-01-01
Rick Yune 1971-01-01
James Cromwell 1940-01-01
Scott Hicks 1953-01-01
Parker Posey 1968-01-01
Dave Chappelle 1973-01-01
Steve Zahn 1967-01-01
Tom Hanks 1956-01-01
Nora Ephron 1941-01-01
Rita Wilson 1956-01-01
Bill Pullman 1953-01-01
Victor Garber 1949-01-01
Rosie O'Donnell 1962-01-01
John Patrick Stanley 1950-01-01
Nathan Lane 1956-01-01
Billy Crystal 1948-01-01
Carrie Fisher 1956-01-01
Bruno Kirby 1949-01-01
Liv Tyler 1977-01-01
Brooke Langton 1970-01-01
Gene Hackman 1930-01-01
Orlando Jones 1968-01-01
Howard Deutch 1950-01-01
Christian Bale 1974-01-01
Zach Grenier 1954-01-01
Mike Nichols 1931-01-01
Richard Harris 1930-01-01
Clint Eastwood 1930-01-01
Takeshi Kitano 1947-01-01
Dina Meyer 1968-01-01
Ice-T 1958-01-01
Robert Longo 1953-01-01
Halle Berry 1966-01-01
Jim Broadbent 1949-01-01
Tom Tykwer 1965-01-01
David Mitchell 1969-01-01
Stefan Arndt 1961-01-01
Ian McKellen 1939-01-01
Audrey Tautou 1976-01-01
Paul Bettany 1971-01-01
Ron Howard 1954-01-01
Natalie Portman 1981-01-01
Stephen Rea 1946-01-01
John Hurt 1940-01-01
Ben Miles 1967-01-01
Emile Hirsch 1985-01-01
John Goodman 1960-01-01
Susan Sarandon 1946-01-01
Matthew Fox 1966-01-01
Christina Ricci 1980-01-01
Rain 1982-01-01
Naomie Harris None
Michael Clarke Duncan 1957-01-01
David Morse 1953-01-01
Sam Rockwell 1968-01-01
Gary Sinise 1955-01-01
Patricia Clarkson 1959-01-01
Frank Darabont 1959-01-01
Frank Langella 1938-01-01
Michael Sheen 1969-01-01
Oliver Platt 1960-01-01
Danny DeVito 1944-01-01
John C. Reilly 1965-01-01
Ed Harris 1950-01-01
Bill Paxton 1955-01-01
Philip Seymour Hoffman 1967-01-01
Jan de Bont 1943-01-01
Robert Zemeckis 1951-01-01
Milos Forman 1932-01-01
Diane Keaton 1946-01-01
Nancy Meyers 1949-01-01
Chris Columbus 1958-01-01
Julia Roberts 1967-01-01
Madonna 1954-01-01
Geena Davis 1956-01-01
Lori Petty 1963-01-01
Penny Marshall 1943-01-01
Paul Blythe None
Angela Scope None
Jessica Thompson None
James Thompson None

If you want to select an individual person, or a subset, you have to use a filter. If you expect to get only a single result back instead of a list, you add `.one()` at the end.

In [4]:
keanu = session.query(Person).filter(Person.name=="Keanu Reeves").one()
keanu.name

'Keanu Reeves'

The fun thing is, the Person object knows a lot more than the row in the `people` table!

In [5]:
print("Keanu Reeves has been in a bunch of movies!")
for role in keanu.roles:
    print("- %s in %s" % (role.role, role.movie))

Keanu Reeves has been in a bunch of movies!
- Neo in The Matrix
- Neo in The Matrix Reloaded
- Neo in The Matrix Revolutions
- Kevin Lomax in The Devil's Advocate
- Shane Falco in The Replacements
- Johnny Mnemonic in Johnny Mnemonic
- Julian Mercer in Something's Gotta Give

Moreover, once you have a Person object you can change it! Let's give Keanu his proper birthdate:

In [6]:
keanu.born = '19640902'
session.commit()
print(keanu.born)

1964-09-02

I have written the Hollywood magic library so that:

- A Person has 

        .id 
        .name
        .born
        .movies  -> a list of Movie objects
        .roles   -> a list of Role objects
        .reviews -> a list of Review objects
        .produced  -> a list of Movie objects
        .directed  -> a list of Movie objects
        .wrote     -> a list of Movie objects
        
- A Movie has 

        .id
        .title
        .tagline
        .released
        .roles     -> a list of Role objects
        .reviews   -> a list of Review objects
        .reviewers -> a list of Person objects
        .producers -> a list of Person objects
        .directors -> a list of Person objects
        .writers   -> a list of Person objects
        
- A Role has 

        .id
        .role
        .movie -> a Movie object
        .actor -> a Person object

- A Review has 

        .id
        .movie   -> a Movie object
        .author  -> a Person object
        .summary
        .rating

And you don't have to do any joins to get these!

You can chain them together, like this:

In [7]:
for rev in session.query(Review):
    print("The movie %s, released on %s, was reviewed by %s" 
          % (rev.movie.title, rev.movie.released, rev.author.name))

The movie The Replacements, released on 2000-01-01, was reviewed by Angela Scope
The movie Cloud Atlas, released on 2012-01-01, was reviewed by Jessica Thompson
The movie The Replacements, released on 2000-01-01, was reviewed by Jessica Thompson
The movie Unforgiven, released on 1992-01-01, was reviewed by Jessica Thompson
The movie The Birdcage, released on 1996-01-01, was reviewed by Jessica Thompson
The movie The Da Vinci Code, released on 2006-01-01, was reviewed by Jessica Thompson
The movie Jerry Maguire, released on 2000-01-01, was reviewed by Jessica Thompson
The movie The Replacements, released on 2000-01-01, was reviewed by James Thompson
The movie The Da Vinci Code, released on 2006-01-01, was reviewed by James Thompson

1. When was 'Jerry Maguire' released?
3. What is the tagline of 'The Matrix Reloaded'?

5. What roles were acted in 'Unforgiven'?
6. What roles were acted in 'Cloud Atlas'?

8. Who acted in movies released in 1995?
9. Who reviewed 'Jerry Maguire'?

10. What do each of the queries below do? Talk them through to yourself before you run them.

In [8]:
for movie in session.query(Movie).filter(Movie.reviews != None):
    print(movie.title)

Jerry Maguire
The Replacements
The Birdcage
Unforgiven
Cloud Atlas
The Da Vinci Code

In [9]:
jerry = session.query(Movie).filter(Movie.title=="Top Gun").one()
print(jerry.released)
for role in jerry.roles:
    print(role.role)

1986-01-01
Maverick
Charlie
Iceman
Goose
Viper
Carole

In [10]:
kev = session.query(Person).filter(Person.name.like('%Bacon')).one()
print(kev.born)

1958-01-01

In [11]:
cloudatlas = session.query(Movie).filter(Movie.title=='Cloud Atlas').one()
actors = set([x.actor for x in cloudatlas.roles])
for a in actors:
    print(a.name)

Jim Broadbent
Tom Hanks
Hugo Weaving
Halle Berry

An important thing to realize is that this Python library is composing SQL for you behind the scenes. When you call `session.query(Table)`, and you don't ask for only `.one()` result and you don't put it through a `for` loop, what you get back is a query object. You can even see the SQL that the query object is going to use, like so:

In [12]:
q = session.query(Movie).filter(Movie.reviews!=None)
print(q.statement)

SELECT movies.id, movies.title, movies.tagline, movies.released
FROM movies
WHERE EXISTS (SELECT 1
FROM reviews
WHERE movies.id = reviews.movie)

The magic
---------

The key to this wonderful ease of querying a database without SQL lies in *object-relationship mapping*, or ORM for short. SQLAlchemy is an ORM tool for Python; just about every programming language will have at least one ORM tool of its own. Let's have a look at the hollywood library that I wrote, and that we've been using. It will be some time before everything here makes sense, but here are a few main points:

* A normal table (i.e. any table that has more than just foreign keys in it) is a class.
* You link class attributes (e.g. a Person's "name" to rows with the Column() call.
* You link foreign keys together with the relationship() call.
* This thing called an *association proxy* is how we handle joining tables that have only foreign keys.

(Why can't SQLAlchemy just read the SQL database schema and make the classes automatically, without me having to repeat all this information, you might ask yourself? The answer is that there is a way to do that, but my experiments suggest that it doesn't entirely work yet. I fully expect that in the near future you won't have to write even this much code in order to use a database from Python!)

Here, then, is the entire `hollywood` library I had you install at the beginning of class.

```
## The boilerplate; don't worry too much about this.
from sqlalchemy.ext.associationproxy import association_proxy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy.schema import Table
from sqlalchemy import Column, Integer, String, Date, ForeignKey

Base = declarative_base()


## The joining tables. These have to be defined first, but they only
## make sense a little later.
wrote_assoc = Table('wrote', Base.metadata,
                    Column('movie', Integer, ForeignKey('movies.id')),
                    Column('author', Integer, ForeignKey('people.id')))
produced_assoc = Table('produced', Base.metadata,
                       Column('movie', Integer, ForeignKey('movies.id')),
                       Column('producer', Integer, ForeignKey('people.id')))
directed_assoc = Table('directed', Base.metadata,
                       Column('movie', Integer, ForeignKey('movies.id')),
                       Column('director', Integer, ForeignKey('people.id')))

######## START READING HERE ########
# The real tables
class Person(Base):
    __tablename__ = 'people'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    born = Column(Date)

    movies = association_proxy("roles", "movie")
    
    roles = relationship("Role", backref="actor")
    reviews = relationship("Review", backref="author")
    produced = relationship("Movie", secondary=produced_assoc, backref="producers")
    directed = relationship("Movie", secondary=directed_assoc, backref="directors")
    wrote = relationship("Movie", secondary=wrote_assoc, backref="writers")

    def __repr__(self):
        return self.name


class Movie(Base):
    __tablename__ = 'movies'
    id = Column(Integer, primary_key=True)
    title = Column(String)
    tagline = Column(String)
    released = Column(Date)

    roles = relationship("Role", backref="movie")
    reviews = relationship("Review", backref="movie")
    reviewers = association_proxy("reviews", "author")

    def __repr__(self):
        return self.title


# These are "association classes" - they function both as one-to-many
# tables and as many-to-many joining tables.
class Role(Base):
    __tablename__ = 'roles'
    id = Column(Integer, primary_key=True)
    role = Column(String)
    movie_id = Column('movie', Integer, ForeignKey('movies.id'))
    actor_id = Column('actor', Integer, ForeignKey('people.id'))

    def __repr__(self):
        return "%s in %s" % (self.role, self.movie)


class Review(Base):
    __tablename__ = 'reviews'
    id = Column('id', Integer, primary_key=True)
    movie_id = Column('movie', Integer, ForeignKey('movies.id'))
    author_id = Column('author', Integer, ForeignKey('people.id'))
    summary = Column('summary', String)
    rating = Column('rating', Integer)
```